/*
0-600px Phone
600-900 Tabled portrait
900-1200 Tabled landscape
[1200-1800] normal style
1800+ Big desktop

breakpoints:
- phone
- tab-port
- tab-land
- big-desktop

in media queris the 1 rem and rem is still 16px
we gonna use em for better results(recommended)
1em=16px

order: base + typography > general layout + grid > page leyout >components
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

::selection {
  background-color: #55c57a;
  color: #ffffff; }

html,
body,
#root,
.section-sea,
.app {
  aspect-ratio: auto 16 / 9; }

html {
  height: 200vh;
  width: 200vw;
  aspect-ratio: auto 16 / 9; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  /* padding: 30px; */ }

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  backface-visibility: hidden;
  /* fix shake up for the animation */
  /* margin-bottom: 60px; */
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    /* font-size: 60px; */
    font-size: 6rem;
    font-weight: 400;
    /* letter-spacing: 35px; */
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/animation-timing-function */
    /* animation-delay: 3s; */
    /* animation-iteration-count: 3; */ }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    /* font-size: 20px; */
    font-size: 2rem;
    font-weight: 700;
    /* letter-spacing: 17.4px; */
    letter-spacing: 1.75rem;
    animation-name: moveInRight;
    animation-duration: 3s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.heading-secondery {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
  letter-spacing: 0.2rem; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondery {
      font-size: 3rem;
      margin-top: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondery {
      font-size: 2.5rem;
      margin-top: 10rem; } }
  .heading-secondery:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 6rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.move-to-2 {
  transform: translate(380%, -20%);
  transition: transform 1.5s ease-in-out, opacity 2s ease-in-out; }

.move-to-3 {
  transform: translate(880%, 70%);
  transition: transform 1.5s ease-in-out; }

.move-to-4 {
  transform: translate(450%, 150%);
  transition: transform 1.5s ease-in-out; }

.move-to-5 {
  transform: translate(30%, 265%);
  transition: transform 1.5s ease-in-out; }

.move-to-6 {
  transform: translate(965%, 250%);
  transition: transform 1.5s ease-in-out; }

.grab {
  cursor: grab !important;
  /* or whatever cursor */ }

.grabbing {
  cursor: grabbing !important;
  /* or whatever cursor */ }

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-6vw);
  transition: transform 1s; }

.cube__scene {
  width: 12vw;
  height: 12vw;
  perspective: 36vw; }

.cube__face {
  background-color: #ff3131;
  position: absolute;
  width: 12vw;
  height: 12vw;
  line-height: 12vw;
  font-size: 15vh;
  font-weight: bold;
  color: white;
  text-align: center;
  border: 1vh solid black; }
  .cube__face::before {
    position: absolute;
    content: "";
    width: 2.4vw;
    height: 2.4vw;
    background: black;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%); }

.cube__face--front {
  transform: rotateY(0deg) translateZ(6vw); }

.cube__face--right {
  transform: rotateY(90deg) translateZ(6vw); }
  .cube__face--right:before {
    background: transparent;
    box-shadow: #000 -3vw -3vw 0px 0px, #000 3vw 3vw 0px 0px; }

.cube__face--back {
  transform: rotateY(180deg) translateZ(6vw); }
  .cube__face--back:before {
    box-shadow: #000 -3vw 3vw 0px 0px, #000 3vw -3vw 0px 0px; }

.cube__face--left {
  transform: rotateY(-90deg) translateZ(6vw); }
  .cube__face--left:before {
    background: transparent;
    box-shadow: #000 -3vw 3vw 0px 0px, #000 -3vw -3vw 0px 0px, #000 3vw 3vw 0px 0px, #000 3vw -3vw 0px 0px; }

.cube__face--top {
  transform: rotateX(90deg) translateZ(6vw); }
  .cube__face--top:before {
    box-shadow: #000 -3vw -3vw 0px 0px, #000 -3vw 3vw 0px 0px, #000 3vw -3vw 0px 0px, #000 3vw 3vw 0px 0px; }

.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(6vw); }
  .cube__face--bottom:before {
    background: transparent;
    box-shadow: #000 -3vw -3vw 0px 0px, #000 -3vw 0px 0px 0px, #000 -3vw 3vw 0px 0px, #000 3vw -3vw 0px 0px, #000 3vw 0px 0px 0px, #000 3vw 3vw 0px 0px; }

.cube.show-front {
  transform: translateZ(-6vw) rotateY(0deg); }

.cube.show-right {
  transform: translateZ(-6vw) rotateY(-90deg); }

.cube.show-back {
  transform: translateZ(-6vw) rotateY(-180deg); }

.cube.show-left {
  transform: translateZ(-6vw) rotateY(90deg); }

.cube.show-top {
  transform: translateZ(-6vw) rotateX(-90deg); }

.cube.show-bottom {
  transform: translateZ(-6vw) rotateX(90deg); }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.2); } }
  .popup__content {
    position: absolute;
    width: 75%;
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.2s; }
  .popup__left {
    width: 33.3333333%;
    display: table-cell; }
  .popup__right {
    width: 66.6666666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #bcbcbc;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #bcbcbc;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    line-height: 1; }
  .popup__close:hover {
    color: #55c57a; }

.section-sea {
  position: relative;
  background-image: url(../img/seaWithIslands-upcrop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left; }

.sidebar {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.75);
  top: 0;
  right: 0;
  width: 22vw;
  height: 100vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  align-items: center; }
  .sidebar__hand {
    background-color: white;
    background-image: url("../../src/img/HandPic.png");
    width: 70%;
    padding-bottom: 70%;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    z-index: 1;
    cursor: pointer; }
  .sidebar__rollDice {
    width: 15vw;
    height: 10vh;
    border-radius: 1vh;
    border: none;
    background-color: rgba(219, 77, 0, 0.95);
    color: whitesmoke;
    font-size: 2.5vw;
    cursor: pointer;
    transition: all 0.3s; }
    .sidebar__rollDice:hover {
      transform: translateY(-3px);
      box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2); }
    .sidebar__rollDice:active {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.pirate {
  height: auto;
  width: 5.272356539%;
  position: absolute;
  left: calc(292/3433*100%);
  top: calc(75/2051*100%); }

.app {
  position: relative; }
