.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;

  transition: all 0.3s;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  @supports (-webkit-backdrop-filter: blur(10px)) or
    (backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($color-black, 0.2);
  }

  &__content {
    background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.85) 0%,
      rgba($color-white, 0.85) 70%,
      transparent 70%)
      ,url(../img/backroundLogo.png)
    ;
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5*$default-font-size*0.7 4*$default-font-size*0.7 rgba($color-black, 0.5);

    position: absolute;
    width: 75%;
    height: 75%;
    background-color: rgba($color-white, 1);
    box-shadow: 0 2*$default-font-size*0.7 4*$default-font-size*0.7 rgba($color-black, 0.5);
    border-radius: 1%;
    @include Center-horz-vert;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.2s;
  }

  &__left {
    width: 66.6666666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3*$default-font-size*0.7 5*$default-font-size*0.7;
    background-color: transparent;
  }


  &--show {
    opacity: 1;
    visibility: visible;
  }

  &--show &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    border: none;
    background-color: transparent;
    color: $color-grey-dark;
    color: $color-white;
    position: absolute;
    top: 10%;
    right: 4%;
    font-size: $default-font-size*5;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    line-height: 1;
    &:hover {
      color: $color-grey-dark;
    }
  }
}
