*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}

html,
body,
#root,
.section-sea,
.app {
  // @include fullScreen();
  aspect-ratio: auto 16 / 9;
}
html {
  // height: 100vh;
  width: 200vw;
  aspect-ratio: auto 16 / 9;
}
body {
  width: 100%;
}

#landscapeErr {
  display: none;
}

@media only screen and (max-device-width: 1079px) and (orientation: portrait) {
  #root {
    display: none;
  }
  #landscapeErr {
    display: block;
  }
}
